{% extends 'bookingApp/home.html' %}
{%block title%}View Seats{%endblock%}
{% block content %}
{% load mathfilters %}
<div class="col-sm-8">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sacco</th>
        <th scope="col">Number Plate</th>
        <th scope="col">Make</th>
        <th scope="col">Seat Type</th>
        <th scope="col">Seat Price</th>
        <th scope="col">Seats Taken</th>
        <th scope="col">Seat Left</th>
      </tr>
    </thead>
    <tbody>
      {% for dict_item in table_list %}
    <tr>
      <td> {{ dict_item.saccoName }} </td>
      <td> {{ dict_item.numberPlate }} </td>
       <td> {{ dict_item.vehicleMake }} </td>
       <td> {{ dict_item.seatType.capitalize }} </td>
       <td> {{ dict_item.seatPrice }} </td>
       <td> {{ dict_item.seatsTaken }} </td>
       <td> {{ dict_item.capacity|sub:dict_item.seatsTaken}} </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{%endblock%}
